* {
    margin : 0;
    padding : 0;
}
body {
    background: url(background.jpg);
}
.form {
    margin-top: 20px;
    text-align: center;
}
.input {
    height: 30px;
    background-color: rgb(14, 14, 49);
    border: solid 1px;
    border-radius: 30px;
    border-color: goldenrod;
    color: goldenrod;
    padding: 0px 8px;
    font-size: 15px;
    transition: 0.5s;
}
.button {
    background-color: rgb(14, 14, 49);
    height: 40px;
    width: 80px;
    border: solid 1px;
    border-radius: 30px;
    border-color: goldenrod;
    color: white;
    padding: 0px 8px;
    font-size: 15px;
    margin-top: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.alert {
    background-color: rgb(14, 14, 49);
    bottom: 0;
    height: 50px;
    width: 100%;
    font-size: 40px;
    color: goldenrod;
    position: fixed;
    text-align: center;
    opacity: 0.9;
    display: none;

}
.button:hover {
    background-color: rgb(20, 20, 75);
    color: goldenrod;
}
.input:hover{
    background-color: rgb(20, 20, 75);
    color: goldenrod;
}
input:focus , button:focus {
    outline: none;
}
.result {
    margin :auto;
    text-align: center;
    background-color: rgb(14, 14, 49);
    border : 1px solid;
    border-color: goldenrod;
    margin-top: 30px;
    width: 500px;
    height: auto;
    color: silver;
}
 .li {
     color: goldenrod;
     font-size: 20px;
     text-align: center;
 }