* {
    padding: 0;
    margin: 0;
}
body{ 
    background: url(background.jpeg);
}
.welcome {
    margin: 0 auto;
    text-align: center;
    font-size: 110px;
    color: antiquewhite;
}
.input {
    width: 60%;
    height: 50px;
    background-color: bisque;
    border : solid 1px;
    border-radius: 20px;
    border-color: white;
    padding: 0px 15px;
    font-size: 20px;
    color:  rgb(32, 93, 226);
}
.button{
    color: aliceblue;
    background-color: rgb(32, 93, 226);
    width: 100px;
    height: 52px;
    border-radius: 20px;
    transition: 0.5s;
    margin-left: 5px;
    cursor: pointer;
    border: none;
    font-size: 20px;
}
.button:hover {
    background-color: aliceblue;
    color:  rgb(32, 93, 226);
    border: none;
}
input:focus , button:focus {
    outline: none;
}
.center{
    margin-top: 30px;
    display: block;
    text-align: center;
}
.li {
    margin-left: 15%;
    color: white;
    font-size: 30px;
}
#alert {
  background-color: rgb(160, 20, 20);
  color: white;
  height: 50px;
  width: 100%;
  bottom: 0;
  display: none;
  text-align: center;
  font-size: 30px;
  justify-content: center;
  opacity: 0.5;
  position: fixed;
}