*{
    padding: 0;
    margin: 0;
}
body {
      background: url(background.jpg);
}
.input {
    width: 20%;
    height: 30px;
    background-color: black;
    color: gray;
    border: solid 1px;
    border-radius: 10px;
    border-color: dimgrey;
    padding: 0px 10px;
    font-size: 15px;
    font-style: italic;
}
.button {
    width: 60px;
    height: 32px;
    background-color: black;
    border-color: gray;
    border-radius: 10px;
    font-size: 13px;
    background-color: black;
    color: gray;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.5s;

}
.button:hover {
    background-color: gray;
    color: black;

}
input:focus , button:focus {
    outline: none;
}
.generated-form {
   margin-top: 5px;
} 
.alert {
    background-color: rgb(160, 20, 20);
  color: white;
  height: 50px;
  width: 100%;
  bottom: 0;
  display: none;
  text-align: center;
  font-size: 30px;
  justify-content: center;
  opacity: 0.8;
  position: fixed;
}
.edit-button {
    width: 60px;
    height: 32px;
    background-color: black;
    border-color: gray;
    border-radius: 10px;
    font-size: 13px;
    background-color: black;
    color: gray;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.res-input {
    width: 20%;
    height: 30px;
    background-color: black;
    color: gray;
    border: solid 1px;
    border-radius: 10px;
    border-color: dimgrey;
    padding: 0px 10px;
    font-size: 15px;
    font-style: italic;

}
.success {
    background-color: rgb(26, 196, 26) ;
    color: white;
    transition: 0.5s;
    width: 70px;
}